---

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Nick Fraus";

import About from '../components/About.astro'
import Portfolio from '../components/Portfolio.astro'
import Contact from '../components/Contact.astro'
import Navigation from '../components/Navigation.astro'
---


<BaseLayout pageTitle={pageTitle}>
    <Navigation/>
    <div id="top">
      <About/>
    </div>
    <div id="portfolio">
      <Portfolio/>
    </div>

    <div id="contact">
      <Contact/>
</BaseLayout>