---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---

<BaseLayout pageTitle="Contact">
    <article id="contact" class="wrapper style4">
        <div class="container medium">
            <header>
                <h2>Get In touch</h2>
            </header>
            <div class="col-12">
                <hr />
                <h3>Find me on ...</h3>
                <ul class="social">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>
                <hr />
            </div>
        </div>
    </article>

</BaseLayout>